<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>RentalTech</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/adminHome">RentalTech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/adminHome">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/members/editMember">회원정보 수정</a></li>
                <li class="nav-item"><a class="nav-link" href="/items/register">상품등록</a></li>
                <li class="nav-item"><a class="nav-link" href="/items/list">상품전체 조회</a></li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Rent Your Tech</h1>
            <p class="lead fw-normal text-white-50 mb-0">Elevate your lifestyle with our premium electronics rental service</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5 main-form-container">
    <form role="form" method="get" enctype="multipart/form-data" th:object="${items}">
        <table class="table table-striped table-hover w-100">
            <thead class="thead-dark">
            <tr>
                <th class="w-20 text-nowrap">시리얼 번호</th>
                <th class="w-25 text-nowrap">상품명</th>
                <th class="w-15 text-nowrap">가격</th>
                <th class="w-20 text-nowrap">렌탈 기간</th>
                <th class="w-15 text-nowrap">재고 개수</th>
                <th class="w-20 text-nowrap">재고 상태</th>
                <th class="w-20 text-nowrap">수정</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item:${items}">
                <td th:text="${item.serialNum}" class="w-20 text-nowrap"></td>
                <td th:text="${item.item_name}" class="w-25 text-nowrap"></td>
                <td th:text="${item.price}" class="w-15 text-nowrap"></td>
                <td th:text="${item.period}" class="w-20 text-nowrap"></td>
                <td th:text="${item.stock}" class="w-15 text-nowrap"></td>
                <td th:text="${item.stockStatus==T(rentaltech.electronics.constant.ItemStockStatus).SELL}?'판매중' :'품절'" class="w-20 text-nowrap"></td>
                <td class="w-20 text-nowrap">
                    <a th:href="@{/items/edit/{serialNum} (serialNum=${item.serialNum})}"
                       class="btn btn-primary btn-sm" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</section>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; RentalTech 2024</p></div>
</footer>
</body>
</html>