<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>렌탈테크</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">RentalTech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">마이페이지</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<!-- 이미지파일 업로드할 때 MultipartFile를 사용하기 위해 enctype="multipart/form-data" 추가-->
<section class="py-5">
    <form th:action="${isEdit} ? @{/items/edit/{serialNum}(serialNum=${itemDto.serialNum})} : @{/items/register}"
          th:object="${itemDto}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            시리얼 번호 <input type="text" th:field="*{serialNum}" class="form-control"
                          th:readonly="${isEdit}" required
                          placeholder="시리얼 번호을 입력하세요">
        </div>
        <div class="form-group">
            상품명 <input type="text" th:field="*{item_name}" class="form-control"
                          placeholder="상품명을 입력하세요">
        </div>
        <div class="form-group">
            가격 <input type="text" th:field="*{price}" class="form-control"
                          placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            재고 개수 <input type="text" th:field="*{stock}" class="form-control"
                          placeholder="재고 개수을 입력하세요">
        </div>
        <div class="form-group">
            제품 설명 <input type="text" th:field="*{details}" class="form-control"
                          placeholder="제품 설명을 입력하세요">
        </div>
        <div class="form-group">
            렌탈 기간 <input type="text" th:field="*{period}" class="form-control"
                          placeholder="렌탈 기간을 입력하세요">
        </div>
        <div class="form-group">
            <select th:field="*{stockStatus}" class="custom-select">
                <option value="SELL">판매중</option>
                <option value="SOLD_OUT">품절</option>
            </select>
        </div>

        <div th:if="${#lists.isEmpty(itemDto.itemImgDtoList)}"> <!-- 빈 이미지 리스트 처리를 통한 5개의 파일 입력 필드 생성-->
            <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">
                <div class="custom-file img-div">
                    <label class="custom-file-label" th:text="상품이미지 + ${num}"></label>
                    <input type="file" class="custom-file-input" name="itemImgFile">
                </div>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(itemDto.itemImgDtoList)}">   <!-- 이미지 리스트가 존재하는 경우-->
            <div class="form-group" th:each="itemImgDto, status: ${itemDto.itemImgDtoList}">
                <div class="custom-file img-div">
                    <input type="file" class="custom-file-input" name="itemImgFile">
                    <input type="hidden" name="itemImgNum" th:value="${itemImgDto.itemImgNum}">
                    <label class="custom-file-label" th:text="${not #strings.isEmpty(itemImgDto.originName)}
                     ? ${itemImgDto.originName} : '상품이미지' + ${status.index+1}"></label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="${isEdit} ? '상품정보 수정' : '상품등록'"></button>
    </form>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
</body>
</html>
